body {
  background-image: url("/src/line_bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(175, 221, 219) !important;

}

.banner_max {
  max-height: 75px;
}

.tab-pane {
  position: relative;
  top: 235px;
}

.shadow-box {
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.text-bg-lime {
  background-color: RGBA(31, 196, 8);
}

.nav-tabs .nav-link {
  color: RGBA(180, 180, 180);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid rgb(0, 0, 0) !important;
}

.avatar {
  width: 60px;
  margin-right: 10px;
  border-radius: 50%;
}


// 攝像頭
#arCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#btnOpenCamera {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

// chat_container
#chat-container {
  // width: 100vw;
  width: 100%;
  height: 100vh;
  // margin-bottom: 60px;
}

.message {
  display: flex;
  margin-top: 10px;
  margin-bottom: 7px;

  .avatar_c {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .chat_box {
    display: flex;
    align-items: end;

    .message_emoji {
      margin-right: 10px;

      .emoji {
        width: 110px;
      }
    }

    // 訊息主體
    .message-body {
      width: 55%;
      padding: 0.5rem;
      background-color: white;
      border: 0.2px solid rgba(0, 0, 0, 0.17);
      border-radius: 0.375rem;
      margin-right: 10px;
    }

    .message_yamada {
      width: 78px;
      color: gray;
      font-size: .7em;
    }

    // 時間以及已讀
    .message_right {
      width: 78px;
      color: gray;
      font-size: .7em;
      margin-right: 10px;

      display: flex;
      flex-direction: column;
      align-items: end;

    }
  }
}

.own-message {
  justify-content: end;
}

.chat-input {
  width: 100%;
  display: flex;
  align-items: center;
}

// 底部發送
#message-input {
  background-color: rgb(245, 245, 245);
  border: 5px solid rgb(242, 242, 242);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 1rem;
  ;
  margin-right: 12px;
  margin-left: 20px;
}

.papper_plane {
  width: 25px;
  height: 25px;
}

#chat_emoji_list {
  width: 100%;
  height: 25%;
  background-color: #ededed;

  display: none;
  // display: block;

  /* 初始状态为隐藏 */
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  /* 初始位置在下方 */

  .row {
    padding: 10px 10px 10px 10px;


    .col {
      margin: 0px 0px 5px 5px;


      .chat_emoji_icon {
        width: 95%;
      }

      @media screen and (min-width: 1000px) {
        .chat_emoji_icon {
          width: 50%;
        }
      }
    }
  }
}

#chat_emoji_list.show {
  display: block;
  transform: translateY(0);
}